@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,900&display=swap');

:root {
    --base-white: #fff;
    --slide-width-13: 400px;
    --negative-slide-width-13: -400px;
    --slide-height: 510px;
    --slide-width: 650px;
    --negative-slide-width: -650px;
    --intro-text-top : 25em;
    --transition-04s : .4s;
    --transition-1s : 1s;
    --nav-color: #082032;
    --nav-accent-color: #334756;
    --nav-accent-blur-color: #33475694;
    --bg-color: #2C394B;
    --accent-color: #FF4C29;
}
html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb {
    
    width: 1px;
    border-radius: 100px;
    background-color: var(--accent-color);
}
body::-webkit-scrollbar {
    background-color: var(--nav-color);
}
body {
    overflow: visible;
    background: linear-gradient(135deg,var(--nav-accent-color),var(--nav-color));
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}
h2 {
    font-size: clamp(1rem, 1.5rem, 2rem);
}
dialog[open] {
    -webkit-animation: show-modal var(--transition-1s) ease normal;
    animation: show-modal var(--transition-1s) ease normal;
}
dialog.hide-collection-modal {
    -webkit-animation: hide-collection-modal var(--transition-04s) ease normal;
    animation: hide-collection-modal var(--transition-04s) ease normal;
}
dialog.hide-profile-modal {
    -webkit-animation: hide-profile-modal var(--transition-1s) ease normal;
    animation: hide-profile-modal var(--transition-1s) ease normal;
}
@keyframes show-modal {
    from {
        opacity: 0;
        transform: scale(0.5,0.5);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
}
@keyframes hide-collection-modal{
    to {
        opacity: 0;
        transform: scale(0.5,0.5);

    }
}
@keyframes hide-profile-modal{
    to {
        opacity: 0;
        transform: translateX(500px);

    }
}
nav.nav-origin {
    z-index: 99999;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--accent-color);
}
/* Header */
header {
    box-shadow: 0 0px 10px #000;
    background-color: var(--nav-color);
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
    position: fixed;
    z-index: 31;
}
.my-logo {
    font-family: 'Baloo 2', cursive;
    width: 5em;
    height: auto;
    font-size: 2em;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}
ul li {
    list-style: none;
}
ul {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -20px;
}

ul .nav-list {
    color: var(--accent-color);
    margin: 0 .5em;
    transition: var(--transition-04s);
    padding: 8px 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
}
.nav-list:hover {
    background-color: var(--nav-accent-blur-color);
}
.nav-btn {
    z-index: 1;
    display: block;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.nav-btn span {
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--accent-color);
    border-radius: 2px;
    z-index: 1;
    transform-origin: 0 0;
    transition: var(--transition-04s);
}
.nav-btn span:nth-child(1) {
    transform: translateY(-4px) rotate(45deg);
}
.nav-btn span:nth-child(2) {
    transform: translate(14px, 5px) rotate(-45deg);
}
.nav-btn.active span:nth-child(1) {
    transform: translate(3px, -5px) rotate(45deg);
}
.nav-btn.active span:nth-child(2) {
    transform: translate(0px, 3px) rotate(-45deg);
}
.nav-mobile {
    z-index: -99;
    position: fixed;
    top: -200%;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: block;
    background-color: var(--nav-color);
    padding-top: 120px;
    transition: var(--transition-04s);
}
.nav-mobile.active {
    top: 0;
}
.nav-mobile a {
    display: block;
    width: 100vw;
    max-width: 30vw;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: inherit;
    border-bottom: 1px solid var(--nav-accent-blur-color);
}
.nav-mobile a:hover {
    transition: .5s;
    border-bottom: 1px solid var(--accent-color);
}
.nav-mobile span:hover {
    background-color: var(--accent-color);
    transition: .5s
}
.nav-mobile span {
    content: '';
    margin: 0 auto;
    width: 20%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--nav-accent-blur-color);
    display: block;
    margin-top: 50vh;
    text-align: center;
}
/* End of Header */

/* Profile */
.btn-profile-box:hover {
    transform: translateX(10px);
    transition: .5s;
    background-color: white;
}
@keyframes btn-profile{
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
}
.btn-profile-box {
    -webkit-animation: btn-profile var(--transition-1s) ease normal;
    animation: btn-profile var(--transition-1s) ease normal;
    transition: var(--transition-04s);
    z-index: 9;
    position: fixed;
    right: 0;
    top: 20vh;
    width: 70px;
    max-width: 50px;

    cursor: pointer;
    transition: .3s;


    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: url('../assets/icon/download.svg');
    background-color: var(--accent-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    box-shadow: -2px 0 5px rgb(0 0 0 / .5);
}
.modal-profile > h3 {
    overflow: hidden;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--accent-color);
}
.modal-profile {
    color: inherit;
    border-radius: 20px;
    border-color: var(--nav-accent-color);
    background-color: var(--nav-color);
    width: 20%;
    max-height: 80vh;
    text-align: center;
}
.modal-profile img {
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: auto;
}
.modal-profile::backdrop, .img-modal::backdrop {
    background-color: #082032;
    opacity: .6;
}
.btn-close-profile:hover {
    transition: .3s;
    border-color: white;
}
.btn-close-profile {
    aspect-ratio: 1;
    transition: .3s;


    border: 3px solid var(--accent-color);
    background-color: transparent;
    border-radius: 100px;
    cursor: pointer;
    color: inherit;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 10px 0;
    outline: none;
    width: 40px;
}
/* End of Profile */

/* Introduction */
#introduction {
    overflow: hidden;

    background: linear-gradient(135deg,var(--nav-accent-color),var(--nav-color));
    height: 100vh;
}
.introduction-img> img {
    display: none;
}
.introduction-bg{
    display: flex;
    background-color: linear-gradient(135deg,var(--nav-accent-color),var(--nav-color));
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

@keyframes introduction-text{
    from {
        transform: translateX(-15em);
        opacity: 0;    
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.introduction-text {
    position: relative;
    top: var(--intro-text-top);
    -webkit-animation: introduction-text var(--transition-1s) ease-in-out normal;
    animation: introduction-text var(--transition-1s) ease-in-out normal;
    transform: translateX(0);
    
    padding: 0 20px;
    text-align: left;
    text-shadow: 3 3px 5px rgb(0 0 0);
}
.introduction-text span{
    color: var(--accent-color);
    font-family: 'Baloo 2', cursive;
    font-weight: 900;
    font-size: 2em;
    font-weight: 600;
}
.btn-register a:hover{
    transition: var(--transition-04s);
    color: inherit;
}
.btn-register a{
    transition: var(--transition-04s);
    color: var(--accent-color);
}
/* End of Introduction */

/* Collection */
#collection {
    margin-top: 5em;
    margin-bottom: 10em;
    margin-left: 5em;
    margin-right: 5em;

    text-align: center;
}
.collection-page {
    color: var(--nav-accent-color);
    /* overflow: auto;
    display: ; */
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 100vw;
    margin: 50px auto;
}
div.collection-page .img-collection {
    background: var(--base-white);
    border: 2px solid var(--base-white);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0,4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity var(--transition-04s) ease-in-out;
    display: block;
    -webkit-column-break-inside: avoid;
}
div.collection-page .img-collection img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}
div.collection-page:hover .img-collection:not(:hover){
    opacity: 0.4;
}
.btn-close-img>span::before ,.btn-close-img>span::after {
    content: '';
    justify-content: center;
    align-items: center;
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 100px;
    background-color: var(--accent-color);
}
.btn-close-img>span::after {
    bottom: 25px;
    left: 40%;
}
.btn-close-img>span::before {
    bottom: 25px;
    right: 40%;
}

.btn-close-img {
    margin: 0 auto;
    width: max-content;
    cursor: pointer;
    color: var(--accent-color);
    font-size: 100%;
}
.btn-img-modal {
    cursor: pointer;
}
.img-modal img {
    width: 100%;
    height: auto;
}
.img-modal {
    border-color: var(--accent-color);
    border-width: 1px;
    border-radius: 10px;
    max-width: 50vh;
}
/* End of Collection */

/* Contact */

div#contact {
    height: 100vh;
    background: var(--nav-color);
}

#contact > .about-me:hover::after{
    background-color: var(--base-white);
    transition: var(--transition-1s);
}
#contact > .about-me::after {
    content: '';
    margin: 0 auto;
    display: block;
    background-color: var(--accent-color);
    border-radius: 100px;
    height: 40vh;
    width: 10px;
    transition: var(--transition-1s);
}
#contact > .about-me {
    padding: 100px 30vw 0;
}
.soc-med {
    position: relative;
    top: -100px;
    margin: 0 auto;
    width: 30%;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--accent-color);
}
.soc-med a:hover {
    transition: .3s;
    color: white;
}
.soc-med a{
    transition: .5s;
    padding: 0 20px;
}
/* End of Contact */

/* Form Subscription */

#subscription ,#contact, #about-me{
    display: grid;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}
#subscription {
    overflow: hidden;
    display: block;
    height: 100vh;
    background: linear-gradient(-90deg,var(--nav-accent-color),var(--nav-color));
}
.subscription-form {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 40vw;
    bottom: 10em;
    /* background: var(--base-white); */
    padding: 25px 30px;
    border-radius: 10px;
}
input#email {
   width: 50%;
   text-align: center;
   border: 2px solid var(--nav-color);
   border-radius: 10px;
   font-family: inherit;
   outline: none;
   padding: .55em;
}
input#email:hover {
    border-color: var(--nav-accent-blur-color);
}
input#email:focus {
    border-color: var(--accent-color);

}

/* Slideshow */
#slideshow-one {
    float: left;
}
#slideshow-one {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#slideshow-two {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#slideshow-one, #slideshow-two {
    position: relative;
    top: 200px;
    overflow: hidden;
    height: var(--slide-height);
    width: var(--slide-width);
}
.slide-blend {
    transition: var(--transition-04s);

    height: var(--slide-height);
    width: var(--slide-width);
    opacity: .5;
    background-color: var(--nav-accent-color);
}
.slide, .slide-two {
    float: left;
    height: var(--slide-height);
    width: var(--slide-width);
    
    background-color: var(--base-white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.slide-wrapper {
    width: calc(var(--slide-width) * 5);

    animation: slide 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.slide:nth-child(1) {
    background-image: url('../assets/images/pic-1.jpeg');
}
.slide:nth-child(2) {
    background-image: url('../assets/images/pic-2.jpeg');
}

.slide:nth-child(3) {
    background-image: url('../assets/images/pic-3.jpeg');
}

.slide:nth-child(4) {
    background-image: url('../assets/images/pic-4.jpeg');
}

.slide:nth-child(5) {
    background-image: url('../assets/images/pic-5.jpeg');
}

#slideshow-two{
    float: right;
}

.slide-two:nth-child(1) {
    background-image: url('../assets/images/pic-2.jpeg');
}
.slide-two:nth-child(2) {
    background-image: url('../assets/images/pic-3.jpeg');
}

.slide-two:nth-child(3) {
    background-image: url('../assets/images/pic-4.jpeg');
}

.slide-two:nth-child(4) {
    background-image: url('../assets/images/pic-5.jpeg');
}

.slide-two:nth-child(5) {
    background-image: url('../assets/images/pic-6.jpeg');
}

@keyframes slide {

    0% {
        margin-left: 0px;
    }
    20% {
        margin-left: calc(var(--negative-slide-width) * 1);
    }
    40% {
        margin-left: calc(var(--negative-slide-width) * 2);
    }
    60% {
        margin-left: calc(var(--negative-slide-width) * 3);
    }
    80% {
        margin-left: calc(var(--negative-slide-width) * 4);
    }
}

/* End of Slideshow */

/* End of Form Subscription */


/* Footer */
footer {
    text-align: center;
    padding: 1em;
    background-color: var(--accent-color);
}
/* End of Footer */
@media screen and (max-width: 1600px) {
    .introduction-img img {
        margin-top: 10%;
    }
}
@media screen and (max-width: 1500px) {
    .introduction-img img {
        margin-top: 15%;
    }
    #contact > .about-me::after {
        margin-top: 40px;
        height: 30vh;
    }
    #contact > .about-me {
        padding: 100px 20vw;

    }
    .soc-med {
        width: 40%;
    }
}
@media screen and (max-width: 1400px) {
    .introduction-img img {
        margin-top: 20%;
    }
    .modal-profile {
        width: 40%;
    }
    #contact > .about-me::after {
        margin-top: 40px;
        height: 30vh;
    }
    #contact > .about-me {
        padding: 100px 10vw;
    }
    .soc-med {
        width: 50%;
    }
}
@media screen and (max-width: 1317px) {
    
    #slideshow-one, #slideshow-two {
        width: var(--slide-width-13);
    }
    .slide-blend {
        width: var(--slide-width-13);
    }
    .slide, .slide-two {
        width: var(--slide-width-13);
    }
    .slide-wrapper {
        width: calc(var(--slide-width-13) * 5);
    }
    .subscription-form {
        width: 60vw ;
    }
    
    @keyframes slide {

        0% {
            margin-left: 0px;
        }
        20% {
            margin-left: calc(var(--negative-slide-width-13) * 1);
        }
        40% {
            margin-left: calc(var(--negative-slide-width-13) * 2);
        }
        60% {
            margin-left: calc(var(--negative-slide-width-13) * 3);
        }
        80% {
            margin-left: calc(var(--negative-slide-width-13) * 4);
        }
    }
}
@media screen and (max-width: 1000px) {
    
    .modal-profile {
        width: 40%;
    }
    .modal-profile img {
        width: 80%;
    }
    #contact > .about-me::after {
        margin-top: 40px;
        height: 40vh;
    }
    #contact > .about-me {
        padding: 100px 5vw;

    }
    .soc-med {
        width: 90%;
    }
}
@media screen and (max-width: 817px) {
    #slideshow-one {
        width: 100vw;
        overflow: hidden;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #slideshow-two {
        display: none;
    }
    .slide-blend {
        width: 100vw;
    }
    .slide {
        width: 100vw;
    }
    .slide-two {
        display: none;
    }
    .slide-wrapper {
        width: calc(100vw * 5);
    }
    .subscription-form {
        width: 90vw ;
    }
    
    @keyframes slide {

        0% {
            margin-left: 0px;
        }
        20% {
            margin-left: calc(-100vw * 1);
        }
        40% {
            margin-left: calc(-100vw * 2);
        }
        60% {
            margin-left: calc(-100vw * 3);
        }
        80% {
            margin-left: calc(-100vw * 4);
        }
    }
}
/* Screen below 780px */
@media screen and (max-width: 780px) {
    .collection-page {
        column-gap: 0px;
    }
    .collection-page .img-collection {
        width: 100%;
    }
    .modal-profile {
        width: 70%;
    }
    .img-modal {
        width: 85%;
    }
    #contact > .about-me::after {
        margin-top: 40px;
        height: 30vh;
    }
    #contact > .about-me {
        padding: 100px 20px 0;
    }
    .soc-med a {
        padding: 0 10px;
    }
    .soc-med {
        padding-top: 2em;
        width: 90%;
    }
}
/* PC Screen */
@media screen and (min-width: 1250px) {
    .introduction-bg {
        display: flex;
    }
    .introduction-text {
        width: 50%;
    }
    @keyframes intro-img-transition {
        from {
            opacity: 0;
            transform: translateX(50em);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .img-blend:hover {
        opacity: 0;
        transition: var(--transition-04s);
    }
    .img-blend {
        z-index: 1;
        background-color: var(--nav-accent-blur-color);
        opacity: .7;
        transition: var(--transition-1s);
        border-top-left-radius: 50px;
        width: 100%;
        height: 100%;
    }
    .introduction-img img{
        position: absolute;

        display: flex;
        width: 100%;
        height: auto;
        border-top-left-radius: 50px;

    }
    .introduction-img {
        display: flex;
        -webkit-animation: intro-img-transition var(--transition-1s) ease-in-out normal;
        animation: intro-img-transition var(--transition-1s) ease-in-out normal;
        transform: translateX(0);
        border-top-left-radius: 50px;
        position: relative;
        right: 0;
        top: 5.5em;
        background-color: var(--base-white);
        height: 91%;
        width: 50%;
    }
}
@media screen and (min-width: 780px) {
    
    .nav-btn {
        display: none;
    }
    ul {
        display: flex;
    }
    @-webkit-keyframes introduction-text{
        from {
            transform: translateX(-50em);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .introduction-text {
        position: relative;
        top: var(--intro-text-top);
        -webkit-animation: introduction-text var(--transition-1s) ease-in-out normal;
        animation: introduction-text var(--transition-1s) ease-in-out normal;
        transform: translateX(0);
        padding: 0 40px;
    }
    .introduction-text p {
        font-size: 1.2em;

    }

}
@media screen and (max-width: 425px) {
    #contact > .about-me::after {
        height: 30vh;
    }
    #contact > .about-me {
        padding: 0 20px;
        padding-top: 3.5em;
    }
    .soc-med a {
        padding: 0 7px;
    }
    .soc-med {
        padding-top: 0;
        margin-top: 9em;
        width: 95%;
    }
    .introduction-text {
        top: 20em;
    }
}
@media screen and (max-width: 321px) {
    .soc-med a {
        display: grid;
        float: left;
        width: 40%;
        padding: 5px 10px;
    }
    .soc-med {
        width: 75%;
    }
    .introduction-text {
        top: 20em;
    }
    @-webkit-keyframes introduction-text{
        from {
            transform: translateX(-15em);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .introduction-text {
        position: relative;
        top: var(--intro-text-top);
        -webkit-animation: introduction-text var(--transition-1s) ease-in-out normal;
        animation: introduction-text var(--transition-1s) ease-in-out normal;
        transform: translateX(0);
    }
    
}
@media screen and  (max-height: 700px) {
    @-webkit-keyframes introduction-text{
        from {
            transform: translateX(-15em);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .introduction-text {
        -webkit-animation: introduction-text var(--transition-1s) ease-in-out normal;
        animation: introduction-text var(--transition-1s) ease-in-out normal;
        transform: translateX(0);
    }
    .btn-profile-box {
        top: 30vh;
    }
    
    .btn-close-img>span::after {
        bottom: 25px;
        left: 33%;
    }
    .btn-close-img>span::before {
        bottom: 25px;
        right: 33%;
    }
    .introduction-text {
        top: 15em;
    }
    #contact > .about-me {
        padding: 100px 30vw 0;
    }
    #contact > .about-me::after {
        height: 30vh;
    }
    .soc-med a {
        padding: 0 20px;
    }
    .soc-med {
        padding-top: 0;
        margin-top: 9em;
        width: 50%;
    }
}
/* @media screen and (max-height: 600px) {
    .introduction-img>img{
        display: none;
    }
    .introduction-text {
        margin-top: 20%;
    }
} */